@import "variables";

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: calc((#{$e-size} + #{$margin}) * 7);
  margin: auto;
  padding-top: 10%;

  div {
    height: $e-size;
    width: $e-size;
    margin: 0 $margin $margin 0;
    border: 1px black solid;
    background-color: #eee;
    font-size: 30px;
    text-align: center;
    line-height: $e-size;
    box-sizing: border-box;

    &:hover {
      background-color: pink;
      cursor: pointer;
      transform: translate(0, -20px);
      transition: all 500ms;
    }
  }
}
